<h2>All fixtures:</h2>

<%@fixtures.each do |fixture|%>
	<b><%=fixture.hometeam.name%></b>

	<%if fixture.scorehome.present? & fixture.scoreaway.present? %>
		<%=fixture.scorehome%>:<%=fixture.scoreaway%>
	<%else%>
		vs.
	<%end%>

	<b><%=fixture.awayteam.name%></b> 
	| <%=fixture.date%> 
	@ <%= fixture.time.present? ? fixture.time.to_s(:time) : "No time available" %>
	<br>
<%end%>